@font-face {
  font-family: Vazir;
  src: url(../Public/Fonts/Vazir-Light.woff2);
}
@media screen and (min-width: 500px) {
  .menu-image {
    width: 100%;
    height: 160px;
  }
  .menu {
    grid-template-columns: repeat(2, auto);
    gap: 24px;
  }
  .menu-image {
    height: 300px;
  }
  .navigation {
    height: 100px;
  }
  .menu-items {
    width: 200px;
    height: 200px;
  }
  .menu-items > img {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 850px) {
  .menu-bar > img {
    display: none;
  }
  .menu-image {
    width: 100%;
    height: 260px;
  }
  .navigation {
    height: 80px;
  }
  .menu {
    grid-template-columns: repeat(4, auto);
    gap: 24px;
  }
  .menu-image {
    height: 300px;
  }
  .navigation {
    height: 100px;
  }
  .menu-items {
    width: 180px;
    height: 180px;
  }
  .menu-items > img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 1000px) {
  .menu-bar > img {
    display: none;
  }
  .menu {
    grid-template-columns: repeat(4, auto);
    gap: 24px;
  }
  .menu-image {
    height: 300px;
  }
  .navigation {
    height: 100px;
  }
  .menu-items {
    width: 220px;
    height: 250px;
  }
  .menu-items > img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1400px) {
  .menu-bar > img {
    display: none;
  }
  .vector {
    width: 200px;
    gap: 20px;
  }
  main > h3 {
    font-size: 40px;
  }
  .navigation {
    height: 115px;
  }
  .search-bar {
    display: none;
  }
  .menu {
    grid-template-columns: repeat(4, auto);
    gap: 24px;
  }
  .menu-image {
    height: 336px;
  }
  .menu-items {
    width: 287px;
    height: 320px;
  }
  .menu-items > img {
    width: 250px;
    height: 250px;
  }
  .description {
    height: 390px;
  }
}
